
/* Estilo geral para o corpo da página */
body {
  background-color: #F3EAE2; /* Fundo ivory */
  color: #000000; /* Texto preto */
  font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Estilo para a barra de navegação */
nav {
  background-color: #540B51; /* Fundo purple */
  color: #F3EAE2; /* Texto ivory */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav img {
    width:103px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color:white; /* Links ivory */
  text-decoration: none;
}

/* Estilo para os botões na barra de navegação */
nav button {
  background-color:#540B51;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* Estilo para o cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #540B51;
  color: white;
}
.buttons_search {
    display:flex;
    flex-direction: row;
  

}



#button_email {
    background-color:white;
    color:#540B51;
    font-weight: bold;
    font-size: 20px;
}
.header_div {
   
    text-align: center;
}
header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

header p {

  margin-bottom: 20px;
}
.color_to_slack_is_free {
    color: #ecb12f;
    font-weight: bold;

}
header button {
  background-color: #4285F4; /* Botão blue */
  color: #F3EAE2; /* Texto ivory */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

header button img {
  width: 20px;
  margin-right: 10px;
}

/* Estilo para o conteúdo principal */
main {
  padding: 40px;
}

/* Estilo para os títulos das seções */
section h3 {
  color: #191817; /* Título black */
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para os parágrafos das seções */
section p {
  color: #000000; /* Parágrafo black */
  margin-bottom: 20px;
}

/* Estilo para os botões das seções */
section button {
  
  color: #F3EAE2; /* Texto ivory */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

/* Estilo para o rodapé */
footer {
  background-color: #F3EAE2; /* Fundo ivory */
  color: #454245; /* Links grey */
  text-align: center;
  padding: 20px;
}

footer hr {
  margin: 20px 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer ul li a {
  color: #454245; /* Links grey */
  text-decoration: none;
}

footer i {
  font-size: 24px;
  margin-right: 10px;
}

/* Estilo para o aviso de direitos autorais */
footer small {
  font-size: 12px;
}

/* versao mobile*/

@media (width<768px) {
    nav ul {
        display:none;
    }

header{
    display:flex;
    flex-direction: column;
    background-color: #540b51;

}
.container{
    display:flex;
    flex-direction: column;
}
.container button{
    margin-bottom: 10px;

};

}
